<h1>Edit a Donut</h1>
<%= form_tag "/products", method: "post" do %>
  <div>
    Donut Name: <input type="text" name="form_name">
  </div>
  <div>
    Price: <input type="text" name="form_price">
  </div>
  <div>
    Show us a picture: <input type="text" name="form_image">
  </div>
  <div>
    Description: <input type="text" name="form_description">
  </div>

  <%= form_tag "/products/#{@donut.id}", method: "delete" do %>
    <input type="submit" value="Destroy This Donut">
  <% end %>
  <input type="submit" value="Update Donut Credentials">
<% end %>
<a href="/products">Back to all Donuts</a>