<h1>Request a Donut</h1>
<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved: </h2>
  </div>

<%= form_tag "/products", method: "post" do %>
  <div class="form-group">
    Donut Name: <input type="text" class="form-control" name="form_name">
  </div>
  <div class="form-group">
    Price: <input type="text" class="form-control" name="form_price">
  </div>
  <div class="form-group">
    Show us a picture: <input type="text" class="form-control" name="form_image">
  </div>
  <div class="form-group">
    Description: <input type="text" class="form-control" name="form_description">
  </div>
  <div>
    Supplier ID:
      <select name="supplier_id">
        <% @suppliers.each do |supplier| %>
          <option value="<%= supplier.id %>"><%= supplier.name %></option>
        <% end %>
      </select>
  </div>
  <br>
  <br>
  <input type="submit" value="Request Donut">
  <br>
  <br>

  <a href="/products">Go Back</a>
<% end %>