<h1>Request a Donut</h1>
<%= form_tag "/products", method: "post" do %>
  <div class="form-group">
    Donut Name: <input type="text" class="form-control" name="form_name">
  </div>
  <div class="form-group">
    Price: <input type="text" class="form-control" name="form_price">
  </div>
  <div class="form-group">
    Show us a picture: <input type="text" class="form-control" name="form_image">
  </div>
  <div class="form-group">
    Description: <input type="text" class="form-control" name="form_description">
  </div>
  <input type="submit" value="Request Donut">
  <br>
  <a href="/products">Go Back</a>
<% end %>