<h1>Delectable Donuts</h1>
<p>Try to resist these scrumptious treats...</p>
<div class="row">
<% @donuts.each do |donut| %>
<div class="col-md-4">
<div class="well">
<h3><%= donut.name %></h3>
<p><img src="<%= donut.image %>" height="325" width="325"></p>
<a href="/products/<%= donut.id %>">More about the <%= donut.name %></a>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
<% end %>
</div>
<a href= "/products/new">Don't see what you like?</a>