<h1>Delectable Donuts</h1>
<% @donuts.each do |donut| %>
<h3><%= donut.name %></h3>
<p><img src="<%= donut.image %>" height="325" width="325"></p>
<a href="/products/<%= donut.id %>">More about the <%= donut.name %></a>
<br>
<br>
<% end %> 