<h1>Delectable Donuts</h1>
<h2><%= @donut.name %></h2>
<img src= "<%= @donut.image %>" height="325" width="325">
<p><%= @donut.description %></p>
<p>You can get this for only $<%= @donut.price %>!!!</p >
<br>
<br>
<a href="/products">Back to all Donuts</a>